################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/POKEMON/v16
/.vs/test hello world/v16/ipch/AutoPCH/225f9d9c6764154c
/.vs/test hello world/v16/Browse.VC.opendb
